<mat-card appHighlight>
    <mat-card-header>
        <mat-card-title>{{product.name | titlecase}} {{product.price | currency}}</mat-card-title>
        <mat-card-subtitle>Quantity: {{product.quantity}}, Subtotal: {{((product.quantity || 1) * product.price) |
            currency}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button (click)="increase()" mat-icon-button color="primary" aria-label="Increase an item">
            <mat-icon>plus_one</mat-icon>
        </button>
        <button (click)="decrease()" mat-icon-button color="accent" aria-label="Decrease an item">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <button (click)="delete()" mat-icon-button color="warn" aria-label="Delete an item">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>