:host {
  table {
    width: 100%;
  }

  mat-card {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .2)
  }

  mat-card-actions {
    align-items: baseline;
    justify-content: space-between;
  }

  .wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

}
